body {
  background-color: rgb(255, 238, 247);
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
     }

p {
  text-align: center;
  margin: 0;
}

h1 {
  text-align: center;
  margin: auto;
}

  ul li { 
    display: block; 
    max-width: 100%; 
    border-radius: 50%;
    filter: grayscale(100%);
    border: solid 5px tomato;
    transition: .15s;
     
    &:hover {
      filter: grayscale(0);
    }
  }
}

