body {
  background-color: rgb(255, 221, 239);
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
     }

p {
  margin-top: 0;
  margin-bottom: 0;
}

.circle-container {
  @include on-circle ($item-count: 6, $circle-size: 20em, $item-size: 6em);
  margin: 5em auto 0;
  border: solid 5px tomato;

ul {
  display: block; 
  max-width: 100%;
  filter: grayscale(100%);
  border: solid 5px tomato;
  transition: .15s;

&:hover,
&:active {filter: grayscale(0);}
  }
}

